{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "printWidth": 120,
        "tabWidth": 2,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css",
        "printWidth": 100
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "semi": true
      }
    }
  ]
}
