{% load static %}

<!-- Header du profil -->
<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    {% if user_profil.photo_profil and user_profil.photo_profil.url %}
    <img
      src="{{ user_profil.photo_profil.url }}"
      alt="Photo de profil"
      class="rounded-circle mb-3"
      style="height: 150px; width: 150px; object-fit: cover;" />
    {% else %}
    <img
      src="{% static 'default_logo/default.webp' %}"
      alt="Photo de profil"
      class="rounded-circle mb-3"
      style="height: 150px; width: 150px; object-fit: cover;" />
    {% endif %}

    <div class="ms-3 d-flex flex-column justify-content-center">
      <h2 class="card-text">{{ user_profil.first_name }} {{ user_profil.last_name }}</h2>

      <p class="card-text"><i class="fas fa-at me-2"></i>{{ user_profil.username }}</p>
    </div>
  </div>

  <div class="d-flex gap-2">
    <button class="btn btn-primary"> <i class="fas fa-plus me-2"></i>Ajouter à la story </button>
    <a href="{% url 'mon_compte' %}" class="btn btn-outline-primary">
      <i class="fas fa-edit me-2"></i>Modifier le profil
    </a>
  </div>
</div>
