{% load static %}
{% load has_story %}
<div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4">Tous les posts</h2>

    {% for post in posts %}
        <div class="card mb-4 shadow-sm" data-bs-toggle="modal" data-bs-target="#modalPost{{ post.id }}"
             style="cursor: pointer;">
            <div class="card-header d-flex align-items-center">
                <!-- Photo profil ou initiale -->
                <div style="width: 40px; height: 40px; border-radius: 50%; background-color:#007bff; color:#fff; display:flex; align-items:center; justify-content:center; font-weight:bold; font-size:18px; margin-right: 12px;">
                    {% has_active_story post.user as story_exists %}
                    <a{% if story_exists %} href="#" data-bs-toggle="modal"
                                            data-bs-target="#storyModal{{ post.user.id }}"
                    {% else %} href="{% url 'profil_user' post.user.id %}" {% endif %} class="me-2">
                        <img src="{% if post.user.photo_profil and post.user.photo_profil.url %}
                 {{ post.user.photo_profil.url }}
             {% else %}
                 {% static 'default_logo/default.webp' %}
             {% endif %}"
                             class="rounded-circle {% if story_exists %}border border-primary border-3{% endif %}"
                             style="height: 40px; width: 40px; object-fit: cover;">
                    </a>
                </div>
                <div>
                    <strong>{{ post.user.username }}</strong><br>
                    <small class="text-muted">{{ post.created_at|date:"d M Y, H:i" }}</small>
                </div>
            </div>
        </div>
        {% include 'components/modal_post_view.html' with post=post %}
    {% empty %}
        <p>Aucun post à afficher.</p>
    {% endfor %}
</div>
