{% extends "facebook/base.html" %} {% load static %} {% block title %}Mon Profil{% endblock %} {% block content %}

<div class="d-flex align-items-center">
  {% if user_profil.photo_profil and user_profil.photo_profil.url %}
  <img
    src="{{ user_profil.photo_profil.url }}"
    alt="Photo de profil"
    class="rounded-circle mb-3"
    style="height: 150px; width: 150px; object-fit: cover;" />
  {% else %}
  <img
    src="{% static 'default_logo/default.webp' %}"
    alt="Photo de profil"
    class="rounded-circle mb-3"
    style="height: 150px; width: 150px; object-fit: cover;" />
  {% endif %}

  <div class="ms-3 d-flex flex-column justify-content-center">
    <h2 class="card-text">{{ user_profil.first_name }} {{ user_profil.last_name }}</h2>

    <p class="card-text"><i class="fas fa-at me-2"></i>{{ user_profil.username }} - {{ user_profil.ville }}</p>
  </div>
</div>

{% endblock %}
